{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Assets creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-block btn-success btn-sm" type="submit" value="Create" />
    {{ form_end(form) }}

 
            <a class="btn btn-primary" href="{{ path('assets_index') }}">Back to the list</a>
       
{% endblock %}
